body{
  background-color: #f5f5f5;
  opacity: 0;
}
.nav{
  background-color: rgba(0,0,0,.001) !important;
  box-shadow: none;
}
nav{
  height: 40px !important;
  line-height: 2 !important;
  position: fixed;
  z-index: 999;
  top: 0;
  box-shadow: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.white{
  background-color: rgba(255,255,255,.95) !important;
}
.slider,.img{
  margin-top: 50px;
}
.slider .slides li{
  opacity: 1;
  height: 640px;
}
.indicator-item{
  margin-top: 55% !important;
  z-index: 99;
}
.name{
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}
.name h1{
  margin-top: 50px;
  color: #fff;
  width: 100%;
  background-color: rgba(0,0,0,.1);
}
#name{
  font-family: 'Great Vibes', cursive;
  font-size: 6em;
  font-weight: bold;
  opacity: 1;
}
#app-field{
  list-style-type: none;
  text-align: center;
  opacity: 0;
  top:400px;
}
#arrow{
  opacity: 0;
}
#app-field li {
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  margin:20px auto;
}
.beervana{
  background-image: url('../images/beervana.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.contigo{
  background-image: url('../images/contigo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.java-expresso{
  background-image: url('../images/java-expresso.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.beervana,.contigo,.java-expresso{
  width: 500px;
  margin:0 15px;
  height: 295px;
  background-color: #000;
  margin: 0 15px;
}
#modal1 img{
  height: auto;
}
.app-content{
  position: relative;
  top: 400px;
  border: 15px solid #f3f3f3;
  border-bottom: none;
  color: #fff;
  width: 100%;
  height: 110%;
  text-transform: uppercase;
}
.app-container{
  width: 400px;
  border: 5px solid #000;
  border-radius: 10px;
  padding:5px 5px;
}
.boat-container{
  min-height: 200px !important;
}
.bridge-container{
  min-height: 190px !important;
}
.bridge{
  position: absolute;
  top: 10%;
}
.container{
  max-width: 100% !important;
  width: 100% !important;
}
.tech-frame-lang{
  float: none !important;
  margin: 0 auto !important;
}
.section{
  padding-top: 0 !important;
}
.white{
  background-color: #f5f5f5;
}
.link span {
  width: 75px;
  background-color: #fff;
  height: 100px;
  display: inline-block;
  position: relative;
  /*border-radius: 15px;*/
  border: 1px solid #fff;
}
.link .resume{
  width: 90px;
}
.link {
  overflow: hidden;
  height: 35px;
  text-align: center;
  margin: 10px 10px;
}
.seattle{
  background-image: url('../images/seattle2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.references-arrow{
  font-size: 3em;
}
.download-png{
  width: 40px;
  margin-top: 10px;
}
.resume{
  margin-bottom: 10px;
}
nav ul{
  list-style-type: none !important;
}
nav ul li{
  margin-right:-200px !important;
  float: none !important;
}
nav ul a{
  color: #444;
  font-size: 1.2em;
  font-family: 'Cabin', sans-serif;
}

.about-link{
  margin-top: 10px;
}
nav .brand-logo{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin:8px 0 0 25px;
  font-weight: bold;
  color: #000 !important;
}
nav .brand-logo:hover{
  text-decoration: underline;
}

p {
  line-height: 1.2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 0px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 98%;
}
.header{
  text-align: center;
}
.type p{
  text-indent: 10px;
  color: #fff;
  text-shadow: 1px 2px #000;
  text-align: center;
  font-family: "Courier";
  font-size: 9px;
  font-weight: bold;
  margin: 0px auto;
  margin-top: 120px;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  animation: type 3.5s steps(60, end);
}

.type p:nth-child(2){
  animation: type2 7s steps(60, end);
  margin: 0px auto;
}
.projects{
  margin: 15px 0 15px 0;
  opacity: 0;
}
.boat{
  margin-bottom: 10%;
}

.git, .email{
  color: #000;
}

.hide{
  display: none;
}

.pics-caption{
  font-weight: bold;
  font-size: 1em;
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;
}

.type span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}


@keyframes blink{
  to{opacity: .0;}
}
.leaf{
  width: 300px;
}
.contigo-text,.java-expresso-text,.beervana-text{
  z-index: -99;
  width: 90%;
  font-size: 1.2em;
  margin: 0 auto;
  font-family: 'Cabin', sans-serif;
}
.icon-block{
  text-align: center;
}
.icon-block h5{
  text-decoration: underline
}
.icon{
  width: 100px;
}
.about-intro{
  width: 100%;
}
.about-me-intro{
  margin: -20px 0 0 0;
  text-align: center;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  padding: 2% 5%;
  width: 100%;
  font-family: 'Cabin', sans-serif;
}
.about-me-text{
  font-size: 1.5em;
  line-height: 3.5rem;
  text-align: left;
  width: 85%;
  word-break: break-all;
  margin: 0 auto;
}
.me{
  width: 300px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-shape-outside:none;
  shape-outside: none;
}
.me-description{
  text-align: center;
}
.info{
  text-align: center;
}
.info h5{
  float: left;
  margin-top: 10px;
}
.info a{
  margin-top: 10px;
}

#about{
  margin-top: 100px;
  width: 100%;
  margin: 100px auto;
}
.about{
  text-decoration: underline;
}
.about,.frameworks{
  text-align: center;
  font-size: 1.2em;
  text-decoration: underline;
}
.contact-info{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.email{
  float: left;
}
.email-text{
  font-size: .65em;
  margin-left: 15px;
}
.menu{
  font-size: 1.8em;
  text-decoration: underline;
  color: #000;
  font-family: 'Cabin', sans-serif;
}
.material-icons{
  margin-left: 15px !important;
}
a:hover{
  text-decoration: underline;
}
.container ul li a{
   color: #fff;
   font-size: 1.5em;
   font-weight: bold;
   padding:5px 5px;
}
.links h5{
  float: left;
  margin-right: 15px
}
.link{
float: right;
clear: both;
display: inline-block;
height: 50px;
text-align: left;
padding-left: 15px;
font-weight: bold;
margin-right: -250px;
background-color: rgba(0,0,0,.5);
width: 10%;
border: 1px solid #fff;
}
.links img{
  margin-top:10px;
}
.links-text{
  display: none;
  font-size: .45em;
}
.linkedin-img{
  margin-left: 10px;
}
.dan{
  margin:10px -200px 0 0;
  float: right;
}
.dan-image{
  width: 100px;
  border-radius: 50%;
}
.testimonal{
  padding: 2%;
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
  opacity: 0;
}
.side-nav a {
  height: 1px !important;
}

.footer{
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
}
footer.page-footer{
  padding-top: 0 !important;
}

@media only screen and (min-width : 281px) and (max-width: 361px) {

nav{
  height: 55px !important;
}
nav ul a{
  font-size: 1.5em;
}
nav .brand-logo{
  font-size: 1.25em;
  letter-spacing: 1px;
}
.type p{
  font-size: 12px;
  margin-top: 150px;
  width: 90%;
  animation: type 3.5s steps(60, end);
}
.pics-caption{
  font-size: 1.2em;
   -webkit-text-stroke-width: .5px;
}
.java-expresso{
  width: 250px;
}
.leaf{
  width: 250px;
}
.contigo-text,.java-expresso-text,.beervana-text{
  font-size: 1em;
}
.about-me-intro{
  margin: -20px 0 0 0;
  font-size: 1em;
  padding: 2% 5%;
}
.about-me-text{
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em;
  line-height: 1.5rem;
}
.me{
  width: 300px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-shape-outside:none;
  shape-outside: none;
}
.about,.frameworks{
  text-align: center;
  font-size: 2em;
}
.email-text{
  font-size: .55em;
  margin-left: 15px;
}
.menu{
  font-size: 1.5em;
}
a{
   color: #0059b3;
   font-size: 1em;
}
.testimonal{
  padding: 2%;
  font-size: 1em;
  width: 90%;
  margin: 0 auto;
}
.links-text{
  font-size: .55em;
}
}
@media only screen and (min-width : 362px) and (max-width: 549px) {

.container li a{
  font-size: 1em !important;
}
.parallax-container{
  height: auto !important;
}
.link{
  text-align: center;
  width: 24%;
  padding:5px;
}
.link a{
  color: #fff !important;
  font-weight: bold;
  font-size: 1.5em;
}
.link:first-child{
  margin-top: 50px;
}
nav{
  height: 50px !important;
}
.projects{
  font-size: 1.8em;
}
#name{
  font-size: 2.6em;
  font-weight: bold;
  padding: 0;
  width: 100%;
    margin: 10px auto;
}
nav ul a{
  font-size: 1.8em;
}
nav .brand-logo{
  font-size: 1.75em;
  letter-spacing: 2px;
}
.type p{
  font-size: 13.5px;
  margin-top: 200px;
  width: 100%;
  animation: type 3.5s steps(60, end);
}
.pics-caption{
  font-size: 1.2em;
  -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;
}
.java-expresso{
  width: 400px;
}

.leaf{
  width: 300px;
}

.contigo,.java-expresso,.beervana{
  width: 350px;
  height: 208px;
}
.contigo-text,.java-expresso-text,.beervana-text{
  font-size: 1.2em;
}
.about-me-intro{
  margin: -25px 0 0 0;
  font-size: 1em;
  padding: 2% 5%;
  width: 100%;
}
.about-me-text{
  font-size: 1.5em;
  width: 90%;
  margin: 0 auto;
  text-align: left !important;
  line-height: 1.5rem;
}
.me{
  width: 300px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-shape-outside:none;
  shape-outside: none;

}
.about,.frameworks{
  text-align: center;
  font-size: 2.2em;
}
.email-text{
  font-size: .65em;
  margin-left: 15px;
}
.menu{
  font-size: 1.8em;
}
a{
   color: #0059b3 !important;
   font-size: .6em;
}
.links-text{
  font-size: .65em;
}
.testimonal{
  padding: 2%;
  font-size: 1.1em;
  width: 90%;
  margin: 0 auto;
}
#about-link{
  margin-top: 16px;
}
.home{
  margin-top: 25.5px;
}
}
@media only screen and (min-width : 550px) and (max-width: 767px) {
nav{
  height: 65px !important;
}
#name{
  font-size: 3.5em;
}
.pics-caption{
  font-size: 1.5em;
   -webkit-text-stroke-width: 1px;
}
.boat-container{
  min-height: 209px !important;
}
.bridge-container{
  min-height: 198px !important;
  margin-bottom: 15px;
}
nav .brand-logo{
  font-size: 2.4em;
  letter-spacing: 4px;
  margin: -3px 0 0 15px;
}
.container{
  max-width: 100% !important;
  width: 100% !important;
}
.type p{
  font-size: 1.5em;
}
a{
  font-size: .8em;
}
.email-text,.links-text{
  font-size: 1em;
}
.about-me-intro{
font-size: 1.2em;
}
.testimonal{
  padding: 2%;
  width:90%;
  margin: 0 auto;
  font-size: 1.2em;
}
#about-link{
  margin-top: 16px;
}
.about,.frameworks{
  text-align: center;
  font-size: 2.2em;
}
.home{
  margin-top: 25.5px;
}
.beervana,.contigo,.java-expresso{
  height:237px;
}
}
@media only screen and (min-width : 768px) and (max-width: 979px) {
nav .brand-logo{
margin: 0px;
font-weight: bold;
font-size: 2.5em;
letter-spacing: 4px;
}
.seattle{
  background-size: cover;
}
#name{
  font-size: 4em;
}
nav{
  height: 65px !important;
}
.testimonal {
  font-size: 1.2em;
}
.container{
  max-width: 100% !important;
  width: 100% !important;
}
.me{
  float: left;
  margin: 0 50px 0 20%;
  -webkit-shape-outside: ellipse();
  shape-outside: ellipse(200px 200px at 58% 54%);
}
.boat-container{
  min-height: 291px;
}
.bridge-container{
  min-height: 276px !important;
  margin-bottom: 25px;
}
#index-banner .section {
    top: 10%;
  }
.type p{
  font-size: 1.8em;
  margin-top: 200px;
  width: 700px !important;
}
.contigo,.java-expresso{
  width: 300px;
  min-width: 250px;
}
a{
  font-size: .9em;
}
.email-text,.links-text{
  font-size: 1em;
}
.email{
  margin-left: 100px;
}
.links{
  margin-right: 100px;
}
.about-me-intro{
font-size: 1.3em;
}
#about-link{
  margin-top: 16px;
}
.home{
  margin-top: 25.5px;
}
.about,.frameworks{
  text-align: center;
  font-size: 2.2em;
}
.right{
  margin-right: 100px !important;
}
.pics-caption{
  font-size: 2em;
   -webkit-text-stroke-width: 1px;
}
.app-container{
  width: 367px;
}
.beervana,.contigo,.java-expresso{
  height:219px;
}
}
@media only screen and (min-width: 980px) and (max-width: 1289px) {
#name{
  font-size: 4.5em;
}
.seattle{
  background-size: cover;
}
nav .brand-logo{
margin: 1.5px 0 0 75px;
font-size: 2.4em;
letter-spacing: 4px;
}
.testimonal {
  font-size: 1.4em;
}
nav{
  height: 65px !important;
}

.type p{
  font-size: 1.5em;
  margin-top: 200px;
}

.container{
  max-width: 100% !important;
  width: 100% !important;
}

.boat-container{
  min-height: 372px !important;
}

.bridge-container{
  min-height: 352px !important;
}

a{
  font-size: 1em;
}

.email-text,.links-text{
  font-size: 1em;
}

.about-me-intro{
font-size: 1.4em;
}

#about-link{
  margin-top: 16px;
}

.home{
  margin-top: 25.5px;
}

.right{
  margin-right: 100px !important;
}

.me{
  float: left;
  margin: 0 50px 0 20%;
  -webkit-shape-outside: ellipse();
  shape-outside: ellipse(200px 200px at 60% 54%);
}
.about,.frameworks{
  text-align: center;
  font-size: 2.2em;
}
.email{
  margin-left: 100px;
}
.pics-caption{
  font-size: 2.2em;
   -webkit-text-stroke-width: 1px;
}
.links{
  margin-right: 100px;
}
.contigo,.beervana,.java-expresso{
  height: 240px;
}

}
@media only screen and (min-width : 1290px) {
nav{
  height: 65px !important;
}
.seattle{
  background-size: cover;
}
#name{
  font-size: 5em;
}
.container{
  max-width: 100% !important;
  width: 100% !important;
}
.boat-container{
  min-height: 494px !important;
}
.bridge-container{
  min-height: 468px !important;
}
#index-banner .section {
  top: 0;
}
nav .brand-logo{
font-size: 2.5em;
margin: -3px 0 0 100px;
letter-spacing: 4px;
}
.me{
  float: left;
  margin: 0 150px 0 20%;
  -webkit-shape-outside: ellipse();
  shape-outside: ellipse(144px 200px at 61% 53%);
}
.testimonal {
  font-size: 1.5em;
}
.pics-caption{
  font-size: 2.5em;
   -webkit-text-stroke-width: 1px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.type p{
  font-size: 2.1em;
  width: 800px !important;
  animation: type 2s steps(60, end);
}
.type p:nth-child(2){
  animation: type2 4s steps(60, end);
}
.contigo,.java-expresso,.beervana{
  width: 500px;
  margin:0 15px;
  height: 295px;
  background-color: #000;
  margin: 0 15px;
}
a{
  font-size: 1.2em;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.email{
  margin-left: 100px;
}
.email-text,.links-text{
  font-size: 1.2em;
}
.about-me-intro{
font-size: 1.5em;
width: 100%;
text-shadow: 1px 2px #000;
}
#about-link{
  margin-top: 16px;
}
.pics-caption{
  font-size: 2.5em;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
.about,.frameworks{
  text-align: center;
  font-size: 2.2em;
}
.home{
  margin-top: 25.5px;
}
}
